:root {
    --P0: oklab(0% 0.00337 -0.00028);
    --P4: oklab(12.006% 0.00523 -0.00044);
    --P6: oklab(15.145% 0.00659 -0.00055);
    --P10: oklab(20.103% 0.00871 -0.00073);
    --P12: oklab(22.274% 0.00963 -0.00081);
    --P17: oklab(27.296% 0.01173 -0.00098);
    --P20: oklab(30.152% 0.01289 -0.00108);
    --P22: oklab(32.017% 0.01364 -0.00114);
    --P24: oklab(33.859% 0.01436 -0.0012);
    --P30: oklab(39.287% 0.0164 -0.00137);
    --P40: oklab(48.145% 0.01924 -0.00161);
    --P50: oklab(56.884% 0.02101 -0.00176);
    --P60: oklab(65.56% 0.02103 -0.00176);
    --P70: oklab(74.198% 0.01842 -0.00154);
    --P80: oklab(82.813% 0.01348 -0.00113);
    --P87: oklab(88.834% 0.00905 -0.00076);
    --P90: oklab(91.412% 0.00701 -0.00059);
    --P92: oklab(93.131% 0.00562 -0.00047);
    --P94: oklab(94.849% 0.00422 -0.00035);
    --P95: oklab(95.707% 0.00352 -0.00029);
    --P96: oklab(96.566% 0.00282 -0.00024);
    --P98: oklab(98.283% 0.00141 -0.00012);
    --P100: oklab(100% 0.00337 -0.00028);

    --A0: oklab(0% 0.03064 -0.00256);
    --A10: oklab(20.103% 0.0798 -0.00668);
    --A20: oklab(30.152% 0.11969 -0.01002);
    --A30: oklab(39.287% 0.15584 -0.01304);
    --A40: oklab(48.145% 0.19018 -0.01592);
    --A50: oklab(56.884% 0.22049 -0.01845);
    --A60: oklab(65.56% 0.23331 -0.01953);
    --A70: oklab(74.198% 0.17335 -0.01451);
    --A80: oklab(82.813% -0.15315 0.01282);
    --A90: oklab(91.412% -0.12711 0.01064);
    --A100: oklab(100% -0.02321 0.00194);

    --E0: oklab(0% 0.02457 0.01489);
    --E10: oklab(20.103% 0.064 0.03878);
    --E20: oklab(30.152% 0.09603 0.05819);
    --E30: oklab(39.287% 0.12516 0.07585);
    --E40: oklab(48.145% 0.15327 0.09288);
    --E50: oklab(56.884% 0.18001 0.10908);
    --E60: oklab(65.56% 0.18788 0.11385);
    --E70: oklab(74.198% 0.13229 0.08017);
    --E80: oklab(82.813% 0.08131 0.04927);
    --E90: oklab(91.412% 0.03753 0.02275);
    --E100: oklab(100% 0.00708 0.00429);
}